<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanli.collect.dao.mapper.ext.ApplicationExtMapper">

    <resultMap id="ApplicationResultMap" type="com.wanli.collect.model.entity.Application">
        <id column="application_id" jdbcType="BIGINT" property="applicationId" />
        <result column="application_name" jdbcType="VARCHAR" property="applicationName" />
        <result column="application_company" jdbcType="VARCHAR" property="applicationCompany" />
        <result column="application_flag" jdbcType="VARCHAR" property="applicationFlag" />
        <result column="application_time" jdbcType="TIMESTAMP" property="applicationTime" />
        <result column="application_description" jdbcType="VARCHAR" property="applicationDescription" />
    </resultMap>

    <select id="findApplicationByFlag" resultMap="ApplicationResultMap">
        SELECT
          application_id,
          application_name,
          application_company,
          application_flag,
          application_time,
          application_description
        FROM application
        WHERE application_flag = #{applicationFlag}
    </select>
    <select id="listApplication" resultMap="ApplicationResultMap">
        SELECT
          application_id,
          application_name,
          application_company,
          application_flag,
          application_time,
          application_description
        FROM application
        <if test="applicationName!=null and applicationName!=''">
            where application_name like  "%"#{applicationName}"%"
        </if>
        order by application_time desc

    </select>
    <select id="listApplicationFlags" resultMap="ApplicationResultMap">
        SELECT
          application_name,
          application_flag
        FROM application
        GROUP BY application_flag
    </select>
</mapper>